<div class="container">
  <div class="row">
    <div class="col-4">
      <form action="/create" method=post>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label for="city" class="font-weight-bold">Add note</label><br>
        <input type="text" class="form-control" name="note[city]" placeholder="Enter city">
        <p></p>
        <textarea rows="3" input type="text" class="form-control" name="note[description]" placeholder="Enter description"></textarea>
        <button type="submit" class="btn btn-info float-right">Submit</button>
      </form>
    </div>   
  </div>
</div>

<p>
</p>

<% if @notes.present? %>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <p class="font-weight-bold">City</p>
      </div>
      <div class="col-10">
        <p class="font-weight-bold">Description</p>
      </div>
    </div>
  </div>
  
  <div class="container">  
    <% @notes.each do |note| %>
      <div class="row">
        <div class="col-2">
          <%= note.city %>
        </div>
        <div class="col-10">
          <%= note.description %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
